@page {
    margin-top: 0.1in;
    margin-bottom: 0.1in;
    margin-left: 0.1in;
    margin-right: 0.1in; 
    size: A4;

}


@font-face {
  font-family: MyriadPro-Regular;
  src: url(../../fonts/MyriadPro-Regular.ttf);
}

@font-face {
  font-family: Verdana;
  src: url(../../fonts/Verdana.ttf);
}

.body{
  font-family: Verdana !important;
}


.container {
    white-space: nowrap; 
    height:25%;
    width:100%;
}

.div-element, table {
    display: inline-block; 
    vertical-align: top; 
    margin: 0 !important;
}

.logo{
    border:1px solid #1287c8;
    height:100%;
    width:60%;
}

.shipper{
    border-collapse:collapse !important;
    border:1px solid #1287c8;
    width: 40%;

}

.d-table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana ;
    font-size:10px;
  }
  .d-tr{
    display: table-row;
    border-collapse: collapse;
  }
  .d-td{
    display: table-cell;
    border-collapse: collapse;
    border: none;
    border: 1px solid #1287c8;
    
  }
  .d-td:not(.no-p){
    padding: 4px;
  }

  
.shippers{
     border: 1px solid #1287c8;
}
  
.pale-blue{
  background-color: #bce5f9;
  color: #1287c8;
}

.blue{
  color: #1287c8;
}

.dark-blue{
  background-color: #1287c8;
  color: white;
}

