@page {
    
     margin-top: 0.4in; 
     margin-bottom: 0.1in; 
     margin-left: 0.5in;
     margin-right: 0.5in;  
     size: A4;
 
  }

@font-face {
font-family: DejaVuSansCondensed;
src: url(DejaVuSansCondensed.ttf);
}

@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeue.ttf);
}

@font-face {
    font-family: HelveticaNeueBold;
    src: url(HelveticaNeue-Bold.ttf);
}


body{
    font-family: DejaVuSansCondensed;
    letter-spacing: -0.1px;
    font-size:6.4px;
   
}

th, td, tr{
    /* border-collapse: collapse; */
    padding: 0px;
    vertical-align: top;
    /* border:1px solid black; */
    border-spacing: 0px !important;
    border-collapse:collapse !important;
}

table{
    width:100%;
    border-collapse:collapse !important;
    padding: -1px;
}




.cmrBody1{
    font-family: HelveticaNeue;
    width:685px;
    height:842px;
    border-collapse:collapse !important;
    color:crimson;
}

.cmrBody2{
    font-family: HelveticaNeue;
    width:685px;
    height:842px;
    border-collapse:collapse !important;
    color:rgb(48, 94, 186)
}

.cmrBody3{
    font-family: HelveticaNeue;
    width:685px;
    height:842px;
    border-collapse:collapse !important;
    color:rgb(6, 61, 6);
    border: rgb(6, 61, 6) !important ;
}

.cmrBody4{
    font-family: HelveticaNeue;
    width:685px;
    height:842px;
    border-collapse:collapse !important;
}



.num-right{
    font-family: HelveticaNeueBold;
    font-size: 14px;
    float:left;
    padding-right:5px;
    padding-left:5px;
}

.num-right-2{
    font-family: HelveticaNeueBold;
    font-size: 14px;
    float:left;
    padding-right:5px;
    padding-left:2px;
}

.num-left{
    font-family: HelveticaNeueBold;
    font-size: 14px;
    float:left;
    padding-right:5px;
    padding-left:4px;
}

.num-left10{
    font-family: HelveticaNeueBold;
    font-size: 14px;
    float:left;
    padding-right:1px;
    padding-left:4px;
}

.num-side{
    font-family: HelveticaNeue;
    font-size: 14px;
}

.bigNum{
    font-family: HelveticaNeueBold;
    font-size: 30px;
    float:left;
    margin-left: -25px;
    margin-top: -7px;
    /* margin:10px; */
}
/* .tableInside table{
    width:100%;
    border-collapse:collapse;
    border:1px solid black;

} */
.tableInside tr{


}
.tableInside td{


}
hr{
    border: 0;
    height: 1px;
    background: black;
}
.cell21{
    font-size:6px;
    line-height:4px;
    float:left;
}
p{
    margin:0px;
    padding:0px;
}

.border{
    border:1px solid;
}